*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: Calibri,sabs-serif; 
}
body{
    max-height: 100vh;
    background-color: white;
    font-family: Calibri,sabs-serif; 
}
.todo{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100vh;

}
.izq{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    
}
 .barraSup{
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right , #ff1c68 , #ff7562);
}
.iconProfile{
 border-radius: 50%;
 border: 2px solid white;
width: 40px;
height: 40px;
}
.MiPer{
 margin-left: 15px;
 font-size: 26px;
 color: white;
}
.buttonConfig{  
 border-radius: 50%;
 place-items: center;
 cursor: pointer;
 width: 40px;
 height: 40px;
 border:2px solid  white;
 background: transparent;
 margin-left: 115px;
}
.iconConfig{
    position: absolute;
   width: 20px;
   height: 20px;
   place-items: center;
   
}
.iconConfig2{
    width: 20px;
    height: 20px;
    place-items: center;
 }
.iconConfig:hover{
    opacity: 0;
    transition: opacity 1.5s; 
}
    
.subMenu{
    border-radius: 8px;
    position: absolute;
    display: inline-block;
    margin-left: 300px;
    margin-top: 50px;
    list-style: none;
    background:url(./Assets/pokedex2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1.5s;
}

.bflecha , .bflecha2{
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 600;

}
.flecha{
    width: 10px;
    height: 10px;
    
}

.flecha2{
    width: 10px;
    height: 10px;
    opacity:0;
}

.Barra{
 display:flex; 
 flex-direction: row;
 margin-top:25px;
 padding: 15px; 
 list-style: none;
}
.bma , .bme{
    border: none;
    background: transparent;
    cursor: pointer;
}
.match{
    margin-left: 20px;
    font-weight: 600;
     color:black;
}
.match::after{
    display: block;
    content: "";
    width: 100%;
    height: 8px;
    background-image:linear-gradient(to right , #ff1c68 , #ff7562);
    border-radius: 8px;
}
.mens::after{
    display: block;
    content: "";
    width: 100%;
    height: 8px;
    background-image:linear-gradient(to right , #ff1c68 , #ff7562);
    border-radius: 8px;
    opacity: 0;
}
.mens{
    margin-left: 32px; 
    font-weight: 600;
    color:black;
}

.inferior{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
  
}
.CuadradoMatches{
    width: 131px;
    height: 195px;
    margin-bottom: 25px;
    background-image: linear-gradient(to right , #ff1c68 , #ff7562);
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 15px;
    border-radius: 8px;
}
.texto{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
   
}


/*lado Derecho */
.PosiblesMatches{
    align-items: center;
}
.imagenDer{   
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 544px;  
    margin-top: 10px;
    margin-left: 250px;
}
.barraDer{
    width: 98%;
    display: flex;   
    position: relative;
    top: 15px; 
}
.barraDer1 , .barraDer2 , .barraDer3{  
    margin-left: 4%;
    display: flex;
 background: rgb(85, 85, 85);
 border-radius: 8px;
 width: 30%;
height: 8px;
position:relative;
}
.baIn1,.baIn2, .baIn3{
    content: "";
    position: absolute;
    width: 0%;
    background: white; 
    height: 8px;
    border-radius: 8px;
transition: 0.1s;
}
.iconder{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 30%;
}
.next{
 position: relative;
 display: flex;
 align-items: center;
 background: transparent;
 width:25px;
 height:25px;
 margin-top:-300px;
 margin-left:435px;
}
.back{
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    width:25px;
    height:25px;
    margin-top:-300px;
    margin-left:5px;
}
.fondorec{
    position: fixed;
    top: 325px;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 529px;  
    background:transparent;
    font-family: Calibri,sabs-serif;
}
.LucarioText{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 26px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}

.wo , .re{
    display: flex;
    align-items: center;
}
.worldtext , .lugartext{
    font-size: 16px;
    margin-left: 10px;
    text-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}
.bInfo{
    background: transparent;
    margin-left: 175px;
    border: none;
}
.info{
    cursor: pointer;
}
.icons{
    position: absolute;
    display: flex;
    margin-left: 250px;
    padding-left:15px;
    bottom: 120px;
}

.iconbutton  {
    place-items: center;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:2px solid rgb(255, 174, 0);
    background: transparent;
    margin-right: 8px;
}
.iconbutton2{
    place-items: center;
    cursor: pointer;
    width: 91px;
    height:91px;
    border-radius: 50%;
    border:2px solid rgb(255, 66, 91);
    background: transparent;
}
.iconbutton3{
    place-items: center;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:2px solid rgb(0, 183, 255);
    background: transparent;
}
.iconbutton4{
    place-items: center;
    cursor: pointer;
    width: 91px;
    height:91px;
    border-radius: 50%;
    border:2px solid rgb(0, 255, 149);
    background: transparent;
}
.iconbutton5{
    place-items: center;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:2px solid rgb(174, 0, 255);
    background: transparent;
}



.reload , .equis , .star , .heart , .thunder{
    width: 30px;
    height: 30px;
}
.reload:hover , .equis:hover , .star:hover , .heart:hover , .thunder:hover{
    width: 40px;
    height: 40px;
}

/*.reload , .equis , .star , .heart , .thunder{
   
}*/





a{
text-decoration: none;
color: inherit;
}










/*.botonFoto{
 position:fixed;
 width: 55px;
height: 55px;
line-height: 55px;
bottom: 30px;
right: 30px;
background: rgb(247, 242, 0);
color: salmon;
border: radius 50px;
text-align: center;
font-size: 30px;
box-shadow: 0px 1px 10px rgb(0,0, 0, 0.3);
z-index: 100;
}
.botonFoto:hover{
    text-decoration: none;
    background: salmon;
    color:rgb(247, 242, 0);
}*/

